.container {

    width: 40%;
    padding-top: 2%;

}

img{

width: 72px;

}

.cantidad {

margin-left: 3px;

}

.boton {

margin-top: 0.5%;
width: 59.3%;
margin-left: 20%;

}

.botonCompra {

 margin-top: 0.5%;
 width: 59.3%;
 margin-left: 19.25%;
 margin-bottom: 2%;

}

h3 {

margin-top: 5%;
text-align: center;

}

link {

padding-left: 0%;
    
}