.navContainer{

    margin-left: 0;
}

.saludo{

    font-style: oblique;
    font-size: 20px;
    text-align: start;
    margin-right: 14px;
    margin-top: 10px;
    color: aliceblue;
    font-style: 24px;
}


a {
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

.titulo {

font-size: 30px;
color: black;

}